


.form-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid rgb(53, 53, 53);
    border-radius: 2%;
    background-color: cornsilk;
    padding: 4rem;
}