<!-- <div style="background-color: bisque; width: 10rem; border-radius: 5px; opacity: 0.9;">
    {{recipe.id}}
    <br><br>
    {{recipe.name}}
    <br><br>
    <img src="{{recipe.image}}" style="height: 10rem;" alt="">
    <br><br>
    {{recipe.tags}}
    <br><br>
    {{recipe.prepTimeMinutes}}
</div> -->


<!-- <div class="card-container" 
[ngStyle]="{ 
    backgroundColor: recipe.prepTimeMinutes >=20 ? 'red' : 'green',

}"
[ngClass]=" {colorWhite: recipe.difficulty ==='Easy'} "
>
    <div>{{recipe.name | uppercase}}</div>
    <img [src]="recipe.image" alt="recipe-image">
    <div> 
        <b>Preparation time: </b> {{recipe.prepTimeMinutes}} 
    </div>
    <div>Difficulty: {{recipe.difficulty}}</div>
    <button (click)="goToRecipePage()">Tell me more</button>
</div>


//--------------------- -->

<mat-card [ngStyle]="{ 
    backgroundColor: recipe.prepTimeMinutes >=20 ? 'red' : 'green',

}"
[ngClass]=" {colorWhite: recipe.difficulty ==='Easy'} " class="example-card" appearance="outlined">
    <mat-card-header>
      
      <mat-card-title><div>{{recipe.name | uppercase}}</div></mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="recipe.image" alt="recipe-image">
    <mat-card-content>
      <p>
        <b>Preparation time: </b> {{recipe.prepTimeMinutes}} 
      </p>

      <p>
        Difficulty: {{recipe.difficulty}} 
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="goToRecipePage()">Tell me more</button>
    </mat-card-actions>
  </mat-card>